In [24]:
import pandas as pd 
import numpy as np
import csv
import tensorflow as tf
from sklearn import preprocessing
import keras
from keras.models import load_model
import warnings

In [25]:
warnings.filterwarnings('ignore')

In [26]:
pwd

'/home/varshi/Downloads'

In [50]:
def identify(act,loc,ui,mod1,mod2,train):
    le = preprocessing.LabelEncoder()
    Y_train = train['Activity'].copy() 
    le.fit(Y_train)
    s1 = act.iloc[ui,]
    s2 = loc.iloc[ui,]
    s1 = s1.to_numpy(dtype=object)
    s2 = s2.to_numpy(dtype=object)
    pred = []
    pred1 = mod1.predict(s1.reshape(1,562))
    pred1 = np.argmax(pred1,axis=1)
    p1 = le.inverse_transform([pred1])
    pred.append(ui)
    pred.append(p1)
    pred2 = mod2.predict(s2.reshape(1,520))
    pred2 = np.argmax(pred2,axis=1)
    pred.append(pred2)
    return pred

In [51]:
m = pd.read_csv("Merge.csv")

In [52]:
dp = "/home/varshi/Desktop/Project"
p1 = dp + "/train.csv"
train = pd.read_csv(p1)

In [53]:
m.head()

,Unnamed: 0,User,0,1,2,3,4,5,6,7,...,WAP511,WAP512,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519,WAP520
0,0,1,0.628589,0.488357,0.492673,0.030798,0.041638,0.166158,0.023749,0.037990,...,0,0,0,0,0,0,0,0,0,0.0
1,1,2,0.643013,0.493418,0.440459,0.012293,0.016917,0.027521,0.006601,0.016059,...,0,0,0,0,0,0,0,0,0,0.0
2,2,3,0.637742,0.486975,0.440924,0.003090,0.015629,0.018626,0.002798,0.014873,...,0,0,0,0,0,0,0,0,0,0.0
3,3,4,0.635149,0.483693,0.441240,0.002629,0.013885,0.016455,0.002363,0.012974,...,0,0,0,0,0,0,0,0,0,0.0
4,4,5,0.637416,0.486076,0.435236,0.003074,0.016924,0.010853,0.002944,0.017303,...,0,0,0,0,0,0,0,0,0,0.0

In [54]:
#Loading Models
act = tf.keras.models.load_model("m.h5")
indoor = load_model("loc.h5")

In [55]:
test_act = m.iloc[:,2:564]
test_loc = m.iloc[:,564:1084]

In [56]:
print("Enter User Id :")
ui = int(input())
if ui<1 or ui>1111:
    print("Kindly enter a user id between 1 and 1111")

Enter User Id :
8

In [57]:
idn = identify(test_act,test_loc,ui,act,indoor,train)

In [58]:
print("User {} is {} at location {}\n".format(pred[0],pred[1],pred[2]))

User 4 is ['STANDING'] at location [1697]